/*********************

Authors:
	Giovanna Ruiu

Stylesheet:
	Home view stylesheet

*********************/
.home {
	position: relative;
	padding-top: 140px;

	.profiles {
		@include display-flex;
		@include flex-direction(row);
		@include flex-wrap(wrap);

		&.show-in-search {
			position: relative;
			color: white;
			@include transition(all .4s ease-in-out);
		}

		a {
			@include display-flex;
			@include flex(1 0 33%);
			@include justify-content(flex-start);
			@include align-items(center);
			@include flex-direction(column);
			max-width: calc(100%/3);
			margin: 0 0 25px;

			img {
				width: 90%;
				height: auto;
				border-radius: 50%;
			}

			p {
				padding: 5px 0 0 0;
				text-transform: uppercase;
				font-size: 15px;
				text-align: center;
				word-spacing: 150px;
			}

			h1 {
				text-transform: uppercase;
				font-size: 60px;
				line-height: 120px;
			}
		}
	}
}